.Logo{
  // background: #fff;
  // margin-top: 8px;
  padding: 4px;
  height: 100%;


  img{
    height: 100%;
  } 

  span{
    display: flex;
    align-items: center;
    strong{
      margin-right: 8px;
      font-size: 20px;
    }
  };
}