.SideDrawer{
  position: fixed;
  width: 280px;
  max-width: 70%;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 200;
  background: #fff;
  box-shadow: 4px 0px 8px rgba(30, 12, 24, .33);
  padding: 40px 16px;  
  box-sizing: border-box;
  transition: transform 300ms ease-out;

  @media (min-width: 768px){
    display: none;
  } 
}

.Logo{
  height: 12%;
}

.Open{transform: translateX(0);}
.Close{transform: translateX(-100%);}
